.boxSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.boxHeadAbout{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleWebDeveloper{
    font-weight: 600;
    font-size: clamp(1.2rem,1.5vw,1rem);
    color:  rgb(68, 68, 68);
}

.boxTitleWeb{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.boxDisponible{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 8px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0FADF;
}

.titleTrabajo{
    font-weight: 600;
    color: #0F9D5C;
    font-size: clamp(1.1rem,1.2vw,1.1rem);
    position: relative;
}

.circle1{
    width: 7px;
    height: 7px;
    background-color: #A4ABB8;
    border-radius: 100%;
}

.circle2{
    width: 7px;
    height: 7px;
    background-color: #0F9D5C;
    border-radius: 100%;
}

.boxInfoMe{
    width: 80%;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.boxDataMe{
    width: 100%;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.titleDataMe{
    width: 100%;
    font-size: clamp(2.1rem,3.5vw,1000px);
    font-weight: 800;
    color: #353849;
    text-align: left;
}

.textDataMe{
    text-align: justify;
    font-weight: 400;
    color: #535353;
    font-size: clamp(1rem,1.3vw,1000px);
    line-height: clamp(25px,2vw,1000px);
}

.boxImagen{
    position: relative;
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
}

/* .boxImagen::before{
    content: '';
    position: absolute;
    width: 103%;
    height: 103%;
    border-radius: 100%;
    border: 5px solid #D9D9D9;
    left: -3%;
    top: -3.5%;
    animation: spinner 2s linear infinite;
} */

.buttonCV{
    position: relative;
    background-color: black;
    color: white;
    text-decoration: none;
    width: fit-content;
    padding: 11px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: .5rem;
}

.buttonCV::after{
    content: '';
    position: absolute;
    left: -2.5%;
    border-radius: 10px;
    width: 102%;
    height: 105%;
    border: 2px solid black;
    top: -7%;
    transition: .3s all ease-in-out;
    transform-origin: center;
    transform: scale(0);
}

.buttonCV:hover::after{
    transform: scale(1);
}


.perfilImage{
    width: 280px;
    height: auto;
    border-radius: 100%;
    /* filter: drop-shadow(0 0 1rem #ff0000); */
}

@media screen and (max-width:1000px){
    .boxInfoMe{
        width: 95%;
    }
}

@media screen and (max-width:768px){
    .boxInfoMe{
        flex-direction: column;
        gap: 0px;
    }

    .boxDataMe{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .cambiarUbi{
        display: flex;
        order: 1;
        width: 98% !important;
        justify-content: center;
        align-items: center;
    }

    .titleDataMe{
        font-size: clamp(2.1rem,3.5vw,1000px);
        font-weight: 800;
        color: #353849;
        text-align: center;
    }

}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}