.boxDivFiltrarCard{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F5F7;
    border-radius: 10px;
    
    padding: 11px;
    cursor: pointer;
}

.imagenFiltrar{
    width: clamp(50px,4vw,1000px);
    height: auto;
}