.box-link{
    text-decoration: none;
}

.name-title{
    margin-left: .5rem;
}

.box-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 100%;
    position: fixed;
    height: 50px;
    background-color: white;
    z-index: 20;
}

.boxDivMainHeader{
    display: flex;
    height: 50px;
    position: relative;
    width: 100%;
}

.boxLinks{
    display: flex;
    align-items: center;
    gap: 5px;
    /* margin-right: 4rem; */
    height: auto;
}

.boxName{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 5px;
}

.boxTextLink{
    width: fit-content;
    position: relative;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}

.textLink{
    color: black;
    font-weight: 600;
    font-size: .9rem;
}

.boxTextLink:hover{
    background-color: black;
}

.titleName{
    font-weight: 600;
    font-size: 1rem;
    color: rgb(49, 49, 49);
}

.boxTextLink:hover .textLink{
    color: white;
}

.boxTextLink::after{
    content: '';
    position: absolute;
    transition: all .2s ease-in-out;
    transform: scale(0);
    transform-origin: center;
    width: 103.5%;
    height: 105%;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 8px;
}

.boxTextLink:hover::after{
    transform: scale(1);
}

.boxRedes{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.linkRedes{
    text-decoration: none;
    color: #353849;
}