

.boxImageSkill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    position: relative;
    padding-top: .7rem;
    border-radius: 10px;
    width: 100%;
    transition: all .2s ease-in-out;
    
}

.imageSkill{
    width: 55px;
    height: auto;
    transition: all .2s ease-in-out;
}

.textoSkill{
    bottom: 0;
    top: 82%;
    font-size: .8rem;
    color: #353849;
    transform-origin: center;
    transition: .2s all ease;
    font-weight: 600;
    transform: scale(0);
}

.boxImageSkill:hover{
    transform: scale(1.02);
}

.boxImageSkill:hover>.textoSkill{
    transform: scale(1);
}

.boxImageSkill:hover> .imageSkill{
    filter: drop-shadow(0 0  2px var(--color));
}

.boxReveal{
    width: 85%;
}